* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-main);
}

body {
    background: var(--bg-app);
    color: var(--text-main);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: var(--grad-glow);
    pointer-events: none;
}

input, button, select, textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background: transparent;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: calc(84px + var(--safe-bottom));
}
