* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-main);
}

body {
    background: radial-gradient(circle at 20% -20%, rgba(0, 255, 54, 0.15), transparent 40%), var(--bg-app);
    color: var(--text-main);
    overflow: hidden;
    height: 100dvh;
    min-height: -webkit-fill-available;
    width: 100vw;
    font-size: 14px;
}

input, button, select, textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

button { background: transparent; cursor: pointer; }

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    padding-bottom: calc(84px + var(--safe-bottom));
}

h1, h2, h3, p, span, div {
    overflow-wrap: anywhere;
    word-break: break-word;
}
