* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-main); /* Enforce Inter everywhere */
}

body {
    background-color: var(--bg-app);
    color: var(--text-main);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}

/* Fix inputs and buttons not inheriting font */
input, button, select, textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.view-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: calc(80px + var(--safe-bottom));
}